{% extends 'layouts/base.html' %} {% block title %} Log Aktivitas {% endblock %}
{% block content %}
<h1 class="text-2xl text-blue-400">
  Log
  <span class="font-bold text-blue-900">Aktivitas</span>
</h1>
<!-- <div class="flex space-x-[12px] mt-[18px]">
  <input
    type="text"
    class="border border-blue-900 rounded-[5px] w-[328px] text-[10px] py-[8px] px-[10px]"
    placeholder="Cari berdasarkan nama"
  />
  <button class="bg-blue-900 px-3 rounded">
    <svg
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path 
        d="M11.625 10.5H11.0325L10.8225 10.2975C11.5829 9.41552 12.0008 8.28952 12 7.125C12 6.16082 11.7141 5.21829 11.1784 4.4166C10.6427 3.61491 9.88137 2.99007 8.99058 2.62109C8.09979 2.25211 7.11959 2.15557 6.17393 2.34367C5.22828 2.53178 4.35964 2.99608 3.67785 3.67786C2.99607 4.35964 2.53177 5.22828 2.34367 6.17394C2.15557 7.11959 2.25211 8.09979 2.62109 8.99058C2.99006 9.88137 3.61491 10.6427 4.4166 11.1784C5.21829 11.7141 6.16082 12 7.125 12C8.3325 12 9.4425 11.5575 10.2975 10.8225L10.5 11.0325V11.625L14.25 15.3675L15.3675 14.25L11.625 10.5ZM7.125 10.5C5.2575 10.5 3.75 8.9925 3.75 7.125C3.75 5.2575 5.2575 3.75 7.125 3.75C8.9925 3.75 10.5 5.2575 10.5 7.125C10.5 8.9925 8.9925 10.5 7.125 10.5Z"
        fill="white"
      />
    </svg>
  </button>
</div> -->
<div class="mt-[20px] rounded-lg shadow-lg border-[1px] p-[32px]">
  <table
    id="example"
    class="stripe hover"
    style="width: 100%; padding-top: 1em; padding-bottom: 1em"
  >
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Lengkap</th>
        <th>Profesi</th>
        <th>Dibuat Pada</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.job }}</td>
        <td>{{ person.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    var table = $("#example")
      .DataTable({
        responsive: true,
      })
      .columns.adjust()
      .responsive.recalc();
  });
</script>
{% endblock %}
